<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <!-- <main>
        <p>Search location: {{location}}</p>
        <p>Search term: {{search_term or 'None Specified'}}</p>
        <p>Data: {{ restaurant }}</p>
        <h2>Top Restaurant:</h2> 
        <p>Name: {{ restaurant.get('name') }}</p>
    </main>

 -->




    <section class="main_class">
        <div class="parent" style="padding: 20px;">
            <h2 class="card_title">{{ restaurant.get('name') }}</h2>
            <img src={{restaurant.get('image_url')}} alt="Picture of cat" width="328" height="400"/>
            <h3 class="card_title">{{ restaurant.get('display_address') }}</h3>
            <div class="card_content">
                <p>Price: {{restaurant.get('price')}} </p>
                <p>Rating: {{restaurant.get('rating')}} </p>
                <p>Reviews: {{restaurant.get('review_count')}} </p>
            </div>

        </div>
    </section>

</body>
</html>

